@layer eds.icon {
  .eds-icon {
    /*we have to send the size through a registered custom property so the tan(atan2()) calc is guaranteed to work in all browsers*/
    --_size: var(--captured-size-1);
    --_viewbox-size: calc(var(--viewbox-size) * 1px);
    width: var(--_size);
    height: var(--_size);
    /*This divides size by viewbox-size to get correct scale*/
    --_path-scale: tan(atan2(var(--_size), var(--_viewbox-size)));
    font-size: var(--_size);
    > path {
      scale: var(--_path-scale);
    }
    &.size-xs {
      --captured-size-1: var(--eds-sizing-icon-xs);
    }
    &.size-sm {
      --captured-size-1: var(--eds-sizing-icon-sm);
    }
    &.size-md {
      --captured-size-1: var(--eds-sizing-icon-md);
    }
    &.size-lg {
      --captured-size-1: var(--eds-sizing-icon-lg);
    }
    &.size-xl {
      --captured-size-1: var(--eds-sizing-icon-xl);
    }
    &.size-2xl {
      --captured-size-1: var(--eds-sizing-icon-2xl);
    }
    &.size-3xl {
      --captured-size-1: var(--eds-sizing-icon-3xl);
    }
    &.size-4xl {
      --captured-size-1: var(--eds-sizing-icon-4xl);
    }
    &.size-5xl {
      --captured-size-1: var(--eds-sizing-icon-5xl);
    }
    &.size-6xl {
      --captured-size-1: var(--eds-sizing-icon-6xl);
    }
  }
}
