@layer eds.card{
  :root {
    --eds-color-message-surface-standard-info: light-dark(#d5eaf4, #243746);
    --eds-color-message-surface-standard-success: light-dark(#d9f7e2, #243746);
    --eds-color-message-surface-standard-warning: light-dark(#ffe7d6, #243746);
    --eds-color-message-surface-standard-error: light-dark(#ffd2d1, #243746);
  }
  [data-level="3"] {
    --eds-color-message-surface-standard-info: light-dark(#d5eaf4, #2c4251);
    --eds-color-message-surface-standard-success: light-dark(#d9f7e2, #2c4251);
    --eds-color-message-surface-standard-warning: light-dark(#ffe7d6, #2c4251);
    --eds-color-message-surface-standard-error: light-dark(#ffd2d1, #2c4251);
  }
  .eds-card {
    width: 100%;
    --_card-text-color: black;
    --_card-background-color: white;
    --_mix-ratio: 10%;
    background-color: var(--_card-background-color);
    border: 1px solid transparent;
    border-radius: var(--eds-spacing-border-radius-rounded);
    color: var(--_card-text-color);
   /*  --override-text-color: var(--_card-text-color); */
    &.elevation-raised {
      --_mix-ratio: 7%;
    }
    &:not(.default) {
      --_card-background-color: color-mix(in oklab, var(--_card-text-color) var(--_mix-ratio), white);
    }
    &.info {
      --_card-text-color: blue;
    }
    &.warning {
      --_card-text-color: orange;
    }
    &.error {
      --_card-text-color: red;
    }
    &.success {
      --_card-text-color: green;
    }
    &.colors-from-tokens {
      background-color: var(--eds-ui-floating-color-surface);
      &.info {
        background-color: var(--eds-color-message-surface-standard-info);
        color: var(--eds-color-message-text-raised-info-initial);
        fill: var(--eds-color-message-icon-raised-info-initial);
        border-color: var(--eds-color-message-border-standard-info);
      }
      &.warning {
        background-color: var(--eds-color-message-surface-standard-warning);
        color: var(--eds-color-message-text-raised-warning-initial);
        fill: var(--eds-color-message-icon-raised-warning-initial);
        border-color: var(--eds-color-message-border-standard-warning);
      }
      &.error {
        background-color: var(--eds-color-message-surface-standard-error);
        color: var(--eds-color-message-text-raised-error-initial);
        fill: var(--eds-color-message-icon-raised-error-initial);
        border-color: var(--eds-color-message-border-standard-error);
      }
      &.success {
        background-color: var(--eds-color-message-surface-standard-success);
        color: var(--eds-color-message-text-raised-success-initial);
        fill: var(--eds-color-message-icon-raised-success-initial);
        border-color: var(--eds-color-message-border-standard-success);
      }
    }
    &.colors-from-ds {
      background-color: var(--eds-color-neutral-background-subtle);
      &.info {
        background-color: red;
      }
      &.warning {
        background-color: var(--eds-color-warning-surface-default);
        color: var(--eds-color-warning-text-default);
        fill: var(--eds-color-warning-text-default);
        border-color: var(--eds-color-warning-border-subtle);
      }
      &.error {
        background-color: var(--eds-color-danger-surface-default);
        color: var(--eds-color-danger-text-default);
        fill: var(--eds-color-danger-text-default);
        border-color: var(--eds-color-danger-border-subtle);
      }
      &.success {
        background-color: red;

      }
    }
  }
  .eds-card__content {
    padding-inline: var(--eds-spacing-inline-lg);
  }
  .eds-card__content:only-child {
    padding-block: var(--eds-spacing-stack-lg);
  }
  .u-rich-text {
    >:is(* + *) {
      margin-top: 1em !important;

    }
  }
}
