.sbdocs:has(.app) {
  /*delete the built in storybook wrapper divs for full page app*/
  display: contents;
  .sb-bar, .sbdocs-title {
    display: none;
  }
}
.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header  header  header"
    "sidebar content content";
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
.app__topbar {
  grid-area: header;
  padding-block: var(--eds-spacing-inset-md-stack-squished);
  padding-inline: var(--eds-spacing-inset-md-inline);
  background-color: light-dark(white, var(--eds-color-neutral-background-subtle));
  border-bottom: 2px solid var(--eds-color-neutral-border-subtle);
  display: flex;
  align-items: center;
}
.app__topbar-actions {
  margin-left: auto;
  display: flex;
  gap: var(--eds-spacing-inline-md);
}
.app__sidebar {
  grid-area: sidebar;
}
.app__content {
  grid-area: content;
  position: relative;
  background-color: var(--eds-color-neutral-background-default);
  overflow-y: auto;
  color: var(--eds-color-neutral-text-default);
  padding: 32px;
}
.content__title {
  p {
    margin-top: 1em;
  }
  margin-bottom: var(--eds-spacing-stack-3-xl);
}

[data-color-background="bente"] {
  .app__topbar {
    background-color: var(--eds-ui-shell-color-surface);
    border-bottom: 2px solid var(--eds-ui-shell-color-border);
  }
  .app__content {
    background-color: var(--eds-ui-main-color-surface);
    color: var(--eds-color-static-text-standard-primary);
  }
}

.u-card-grid {
  --layout-grid-min: 40ch;
  --layout-grid-gap: var(--eds-spacing-inset-xl-inline);
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--layout-grid-min)), 1fr)
  );
  gap: var(--layout-grid-gap);
}
.u-fieldset {
  font-family: var(--eds-typography-ui-body-font-family);
  width:fit-content;
  margin: 0;
  padding: var(--eds-spacing-stack-md);
  border-radius: var(--eds-spacing-border-radius-rounded);
  border: var(--eds-sizing-stroke-thin) solid var(--eds-color-neutral-border-default);
}
.u-flex {
  display: flex;
  gap: var(--eds-spacing-inline-xs);
  align-items: center;
  flex-wrap: wrap;
}
