@layer color-preview {
  .color-preview {
    width: 75vw;
    height: 30vh;
    resize: both;
    overflow: hidden;
    display: grid;
    gap: 2px;
    margin-bottom: 16px;
    section {
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      gap: 2px;
      div {
        background-color: attr(data-bg type(<color>), white);
      }
      &.controls {
        accent-color: var(--eds-color-accent-base-default);
        display: flex;
        align-items: center;
        gap: 8px;
        label {
          display: flex;
          align-items: center;
        }
        .col {
          display: flex;
          flex-direction: column;
          width: 180px;
          align-items: start;
        }
        input[type="range"]{
          width: 100%;
        }
      }
      &.categories {
        container-type: inline-size;
        p {
          font-size: calc(0.5rem + 1cqi);
          font-size: clamp(0.5rem, 0.5rem + 1cqi, 1.5rem);
          margin: 0;
          color: canvasText;
          display: flex;
          justify-content: center;
          align-items: center;
          border-inline: 1px solid canvasText;
          border-top: 1px solid canvasText;
          border-bottom: 0;
          line-height: 1cap;
          text-box-edge: cap alphabetic;
          text-box-trim: trim-both;
        }
        & :nth-child(1) {
          grid-column: 1 / span 2;
        }
        & :nth-child(2) {
          grid-column: 3 / span 3;
        }
        & :nth-child(3) {
          grid-column: 6 / span 3;
        }
        & :nth-child(4) {
          grid-column: 9 / span 3;
        }
        & :nth-child(5) {
          grid-column: 12 / span 2;
        }
      }
    }
  }
}
