@layer eds.accordion {
  .eds-accordion {
    /* --_border: light-dark(rgb(0 0 0 / 50%), rgb(255 255 255 / 50%)); */
    border: var(--eds-sizing-stroke-thin) solid var(--eds-color-neutral-border-default);
    /* border: var(--eds-sizing-stroke-thin) solid var(--_border); */
    border-radius: var(--eds-spacing-border-radius-rounded);
    summary {
      padding: 16px;
      display: grid;
      grid-template-columns: 32px 1fr auto;
      align-items: center;
      background-color: transparent;
      user-select: none;
      cursor: pointer;
      svg:first-of-type {
        margin-left: -0.3em;
      }
      svg {
        margin-block: -0.5em;
      }
    }
    &[open] summary {
      border-bottom: var(--eds-sizing-stroke-thin) solid var(--eds-color-neutral-border-default);
      /* border-bottom: var(--eds-sizing-stroke-thin) solid var(--_border); */
    }
    &[open] svg:first-of-type {
      rotate: 90deg;
    }
  }
  .eds-accordion__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .eds-accordion__content {
    padding: 16px;
    background-color: transparent;
  }
}
