.eds-accordion {
  border: 1px solid black;
  summary {
    padding: 16px;
    display: grid;
    grid-template-columns: 32px 1fr auto;
    align-items: center;
    background-color: white;
    user-select: none;
    cursor: pointer;
  }
  &[open] summary {
    border-bottom: 1px solid black;
  }
  &[open] .eds-accordion__icon svg {
    rotate: 90deg;
  }
}
.eds-accordion__icon {
  margin-left: -8px;
}
.eds-accordion__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.eds-accordion__content {
  padding: 16px;
  background-color: white;
}
