:root {
  color-scheme: light;
  --accent-1: light-dark(#fefefe, #001f22);
  --accent-2: light-dark(#eef5f6, #00282c);
  --accent-3: light-dark(#d2e6e7, #00363b);
  --accent-4: light-dark(#b8d7da, #00454b);
  --accent-5: light-dark(#9ec8cc, #00545b);
  --accent-6: light-dark(#95c4c7, #005c63);
  --accent-7: light-dark(#348d94, #157b84);
  --accent-8: light-dark(#00565d, #99c6ca);
  --accent-9: light-dark(#007079, #42959c);
  --accent-10: light-dark(#005b62, #65a9ae);
  --accent-11: light-dark(#00474d, #89bdc1);
  --accent-12: light-dark(#006e77, #6cadb2);
  --accent-13: light-dark(#003236, #d2e6e7);
  --accent-14: light-dark(#ffffff, #000000);
  --accent-15: light-dark(#dcebed, #0b181a);

  --neutral-1: light-dark(#fefefe, #1b1b1b);
  --neutral-2: light-dark(#f2f2f2, #242424);
  --neutral-3: light-dark(#e2e2e2, #303030);
  --neutral-4: light-dark(#d1d1d1, #3e3e3e);
  --neutral-5: light-dark(#c1c1c1, #4b4b4b);
  --neutral-6: light-dark(#bbbbbb, #525252);
  --neutral-7: light-dark(#818181, #6f6f6f);
  --neutral-8: light-dark(#4e4e4e, #bebebe);
  --neutral-9: light-dark(#4a4a4a, #a7a7a7);
  --neutral-10: light-dark(#383838, #929292);
  --neutral-11: light-dark(#272727, #7d7d7d);
  --neutral-12: light-dark(#636363, #a3a3a3);
  --neutral-13: light-dark(#2c2c2c, #e2e2e2);
  --neutral-14: light-dark(#ffffff, #000000);
  --neutral-15: light-dark(#e7e7e7, #181818);

  --brand1-1: light-dark(#fefefe, #161c20);
  --brand1-2: light-dark(#f1f2f3, #1d242a);
  --brand1-3: light-dark(#e0e2e4, #273139);
  --brand1-4: light-dark(#ced2d5, #323f48);
  --brand1-5: light-dark(#bcc2c6, #3e4d58);
  --brand1-6: light-dark(#b5bcc1, #445460);
  --brand1-7: light-dark(#76828b, #63717b);
  --brand1-8: light-dark(#40505b, #b8bfc3);
  --brand1-9: light-dark(#435460, #969fa6);
  --brand1-10: light-dark(#33414a, #7f8b93);
  --brand1-11: light-dark(#252f36, #697781);
  --brand1-12: light-dark(#566570, #9ba4aa);
  --brand1-13: light-dark(#242d33, #e0e2e4);
  --brand1-14: light-dark(#ffffff, #000000);
  --brand1-15: light-dark(#edeff0, #101011);

  --brand2-1: light-dark(#fffdfb, #2b1700);
  --brand2-2: light-dark(#fcf1e4, #371e00);
  --brand2-3: light-dark(#f8debe, #492800);
  --brand2-4: light-dark(#f4cb98, #5e3300);
  --brand2-5: light-dark(#f0b56d, #723e00);
  --brand2-6: light-dark(#efaf60, #7d4500);
  --brand2-7: light-dark(#c26a00, #a85c00);
  --brand2-8: light-dark(#754000, #efb267);
  --brand2-9: light-dark(#e57e00, #844800);
  --brand2-10: light-dark(#eb9d3d, #673800);
  --brand2-11: light-dark(#f1b974, #4c2a00);
  --brand2-12: light-dark(#965200, #e88d1d);
  --brand2-13: light-dark(#432500, #f8debe);
  --brand2-14: light-dark(#000000, #ffffff);
  --brand2-15: light-dark(#110900, #f8f5f1);

  --brand3-1: light-dark(#fffdfe, #3e010f);
  --brand3-2: light-dark(#fdeef2, #4f0113);
  --brand3-3: light-dark(#fbdae2, #670119);
  --brand3-4: light-dark(#f8c3cf, #80021f);
  --brand3-5: light-dark(#f5acbd, #9a0226);
  --brand3-6: light-dark(#f5a5b7, #a80229);
  --brand3-7: light-dark(#e94068, #df0336);
  --brand3-8: light-dark(#9e0227, #f5a9bb);
  --brand3-9: light-dark(#e20337, #e8355e);
  --brand3-10: light-dark(#bc032e, #ed6484);
  --brand3-11: light-dark(#980225, #f1879f);
  --brand3-12: light-dark(#c70331, #f0819b);
  --brand3-13: light-dark(#5f0117, #fbdae2);
  --brand3-14: light-dark(#ffffff, #000000);
  --brand3-15: light-dark(#fef5f7, #140508);

  --eds-color-accent-background-default: var(--accent-1);
  --eds-color-accent-background-subtle: var(--accent-2);
  --eds-color-accent-surface-default: var(--accent-3);
  --eds-color-accent-surface-hover: var(--accent-4);
  --eds-color-accent-surface-active: var(--accent-5);
  --eds-color-accent-border-subtle: var(--accent-6);
  --eds-color-accent-border-default: var(--accent-7);
  --eds-color-accent-border-strong: var(--accent-8);
  --eds-color-accent-base-default: var(--accent-9);
  --eds-color-accent-base-hover: var(--accent-10);
  --eds-color-accent-base-active: var(--accent-11);
  --eds-color-accent-text-subtle: var(--accent-12);
  --eds-color-accent-text-default: var(--accent-13);
  --eds-color-accent-contrast-default: var(--accent-14);
  --eds-color-accent-contrast-subtle: var(--accent-15);
  --eds-color-neutral-background-default: light-dark(var(--neutral-1), var(--brand1-1));
  /*manually changed to neutral-1 for white background. Needs work to handle
  "ui-deep" and surfaces with white bg in light mode but lighter blue in dark mode*/
  --eds-color-neutral-background-subtle: light-dark(var(--neutral-1), var(--brand1-2));
  --eds-color-neutral-surface-default: light-dark(var(--neutral-3), var(--brand1-3));
  --eds-color-neutral-surface-hover: light-dark(var(--neutral-4), var(--brand1-4));
  --eds-color-neutral-surface-active: light-dark(var(--neutral-5), var(--brand1-5));
  --eds-color-neutral-border-subtle: light-dark(var(--neutral-6), var(--brand1-6));
  --eds-color-neutral-border-default: light-dark(var(--neutral-7), var(--brand1-7));
  --eds-color-neutral-border-strong: light-dark(var(--neutral-8), var(--brand1-8));
  --eds-color-neutral-base-default: light-dark(var(--neutral-9), var(--brand1-9));
  --eds-color-neutral-base-hover: light-dark(var(--neutral-10), var(--brand1-10));
  --eds-color-neutral-base-active: light-dark(var(--neutral-11), var(--brand1-11));
  --eds-color-neutral-text-subtle: light-dark(var(--neutral-12), var(--brand1-12));
  --eds-color-neutral-text-default: light-dark(var(--neutral-13), var(--brand1-13));
  --eds-color-neutral-contrast-default: light-dark(var(--neutral-14), var(--brand1-14));
  --eds-color-neutral-contrast-subtle: light-dark(var(--neutral-15), var(--brand1-15));
  --eds-color-warning-background-default: var(--brand2-1);
  --eds-color-warning-background-subtle: var(--brand2-2);
  --eds-color-warning-surface-default: var(--brand2-3);
  --eds-color-warning-surface-hover: var(--brand2-4);
  --eds-color-warning-surface-active: var(--brand2-5);
  --eds-color-warning-border-subtle: var(--brand2-6);
  --eds-color-warning-border-default: var(--brand2-7);
  --eds-color-warning-border-strong: var(--brand2-8);
  --eds-color-warning-base-default: var(--brand2-9);
  --eds-color-warning-base-hover: var(--brand2-10);
  --eds-color-warning-base-active: var(--brand2-11);
  --eds-color-warning-text-subtle: var(--brand2-12);
  --eds-color-warning-text-default: var(--brand2-13);
  --eds-color-warning-contrast-default: var(--brand2-14);
  --eds-color-warning-contrast-subtle: var(--brand2-15);
  --eds-color-danger-background-default: var(--brand3-1);
  --eds-color-danger-background-subtle: var(--brand3-2);
  --eds-color-danger-surface-default: var(--brand3-3);
  --eds-color-danger-surface-hover: var(--brand3-4);
  --eds-color-danger-surface-active: var(--brand3-5);
  --eds-color-danger-border-subtle: var(--brand3-6);
  --eds-color-danger-border-default: var(--brand3-7);
  --eds-color-danger-border-strong: var(--brand3-8);
  --eds-color-danger-base-default: var(--brand3-9);
  --eds-color-danger-base-hover: var(--brand3-10);
  --eds-color-danger-base-active: var(--brand3-11);
  --eds-color-danger-text-subtle: var(--brand3-12);
  --eds-color-danger-text-default: var(--brand3-13);
  --eds-color-danger-contrast-default: var(--brand3-14);
  --eds-color-danger-contrast-subtle: var(--brand3-15);
}

