:root {
  --mossgreen-1: light-dark(#fefefe, #001f22);
  --mossgreen-2: light-dark(#eef5f6, #00282c);
  --mossgreen-3: light-dark(#d2e6e7, #00363b);
  --mossgreen-4: light-dark(#b8d7da, #00454b);
  --mossgreen-5: light-dark(#9ec8cc, #00545b);
  --mossgreen-6: light-dark(#95c4c7, #005c63);
  --mossgreen-7: light-dark(#348d94, #157b84);
  --mossgreen-8: light-dark(#00565d, #99c6ca);
  --mossgreen-9: light-dark(#007079, #42959c);
  --mossgreen-10: light-dark(#005b62, #65a9ae);
  --mossgreen-11: light-dark(#00474d, #89bdc1);
  --mossgreen-12: light-dark(#006e77, #6cadb2);
  --mossgreen-13: light-dark(#003236, #d2e6e7);
  --mossgreen-14: light-dark(#ffffff, #000000);
  --mossgreen-15: light-dark(#dcebed, #0b181a);

  --neutral-1: light-dark(#fefefe, #1b1b1b);
  --neutral-2: light-dark(#f2f2f2, #242424);
  --neutral-3: light-dark(#e2e2e2, #303030);
  --neutral-4: light-dark(#d1d1d1, #3e3e3e);
  --neutral-5: light-dark(#c1c1c1, #4b4b4b);
  --neutral-6: light-dark(#bbbbbb, #525252);
  --neutral-7: light-dark(#818181, #6f6f6f);
  --neutral-8: light-dark(#4e4e4e, #bebebe);
  --neutral-9: light-dark(#4a4a4a, #a7a7a7);
  --neutral-10: light-dark(#383838, #929292);
  --neutral-11: light-dark(#272727, #7d7d7d);
  --neutral-12: light-dark(#636363, #a3a3a3);
  --neutral-13: light-dark(#2c2c2c, #e2e2e2);
  --neutral-14: light-dark(#ffffff, #000000);
  --neutral-15: light-dark(#e7e7e7, #181818);

  --slategrey-1: light-dark(#fefefe, #161c20);
  --slategrey-2: light-dark(#f1f2f3, #1d242a);
  --slategrey-3: light-dark(#e0e2e4, #273139);
  --slategrey-4: light-dark(#ced2d5, #323f48);
  --slategrey-5: light-dark(#bcc2c6, #3e4d58);
  --slategrey-6: light-dark(#b5bcc1, #445460);
  --slategrey-7: light-dark(#76828b, #63717b);
  --slategrey-8: light-dark(#40505b, #b8bfc3);
  --slategrey-9: light-dark(#435460, #969fa6);
  --slategrey-10: light-dark(#33414a, #7f8b93);
  --slategrey-11: light-dark(#252f36, #697781);
  --slategrey-12: light-dark(#566570, #9ba4aa);
  --slategrey-13: light-dark(#242d33, #e0e2e4);
  --slategrey-14: light-dark(#ffffff, #000000);
  --slategrey-15: light-dark(#edeff0, #101011);

  --orange-1: light-dark(#fffdfb, #2b1700);
  --orange-2: light-dark(#fcf1e4, #371e00);
  --orange-3: light-dark(#f8debe, #492800);
  --orange-4: light-dark(#f4cb98, #5e3300);
  --orange-5: light-dark(#f0b56d, #723e00);
  --orange-6: light-dark(#efaf60, #7d4500);
  --orange-7: light-dark(#c26a00, #a85c00);
  --orange-8: light-dark(#754000, #efb267);
  --orange-9: light-dark(#e57e00, #844800);
  --orange-10: light-dark(#eb9d3d, #673800);
  --orange-11: light-dark(#f1b974, #4c2a00);
  --orange-12: light-dark(#965200, #e88d1d);
  --orange-13: light-dark(#432500, #f8debe);
  --orange-14: light-dark(#000000, #ffffff);
  --orange-15: light-dark(#110900, #f8f5f1);

  --red-1: light-dark(#fffdfe, #3e010f);
  --red-2: light-dark(#fdeef2, #4f0113);
  --red-3: light-dark(#fbdae2, #670119);
  --red-4: light-dark(#f8c3cf, #80021f);
  --red-5: light-dark(#f5acbd, #9a0226);
  --red-6: light-dark(#f5a5b7, #a80229);
  --red-7: light-dark(#e94068, #df0336);
  --red-8: light-dark(#9e0227, #f5a9bb);
  --red-9: light-dark(#e20337, #e8355e);
  --red-10: light-dark(#bc032e, #ed6484);
  --red-11: light-dark(#980225, #f1879f);
  --red-12: light-dark(#c70331, #f0819b);
  --red-13: light-dark(#5f0117, #fbdae2);
  --red-14: light-dark(#ffffff, #000000);
  --red-15: light-dark(#fef5f7, #140508);

  --eds-color-accent-background-default: var(--mossgreen-1);
  --eds-color-accent-background-subtle: var(--mossgreen-2);
  --eds-color-accent-surface-default: var(--mossgreen-3);
  --eds-color-accent-surface-hover: var(--mossgreen-4);
  --eds-color-accent-surface-active: var(--mossgreen-5);
  --eds-color-accent-border-subtle: var(--mossgreen-6);
  --eds-color-accent-border-default: var(--mossgreen-7);
  --eds-color-accent-border-strong: var(--mossgreen-8);
  --eds-color-accent-base-default: var(--mossgreen-9);
  --eds-color-accent-base-hover: var(--mossgreen-10);
  --eds-color-accent-base-active: var(--mossgreen-11);
  --eds-color-accent-text-subtle: var(--mossgreen-12);
  --eds-color-accent-text-default: var(--mossgreen-13);
  --eds-color-accent-contrast-default: var(--mossgreen-14);
  --eds-color-accent-contrast-subtle: var(--mossgreen-15);
  --eds-color-neutral-background-default: light-dark(var(--neutral-1), var(--slategrey-1));
  /*manually changed to neutral-1 for white background. Needs work to handle
  "ui-deep" and surfaces with white bg in light mode but lighter blue in dark mode*/
  --eds-color-neutral-background-subtle: light-dark(var(--neutral-1), var(--slategrey-2));
  --eds-color-neutral-surface-default: light-dark(var(--neutral-3), var(--slategrey-3));
  --eds-color-neutral-surface-hover: light-dark(var(--neutral-4), var(--slategrey-4));
  --eds-color-neutral-surface-active: light-dark(var(--neutral-5), var(--slategrey-5));
  --eds-color-neutral-border-subtle: light-dark(var(--neutral-6), var(--slategrey-6));
  --eds-color-neutral-border-default: light-dark(var(--neutral-7), var(--slategrey-7));
  --eds-color-neutral-border-strong: light-dark(var(--neutral-8), var(--slategrey-8));
  --eds-color-neutral-base-default: light-dark(var(--neutral-9), var(--slategrey-9));
  --eds-color-neutral-base-hover: light-dark(var(--neutral-10), var(--slategrey-10));
  --eds-color-neutral-base-active: light-dark(var(--neutral-11), var(--slategrey-11));
  --eds-color-neutral-text-subtle: light-dark(var(--neutral-12), var(--slategrey-12));
  --eds-color-neutral-text-default: light-dark(var(--neutral-13), var(--slategrey-13));
  --eds-color-neutral-contrast-default: light-dark(var(--neutral-14), var(--slategrey-14));
  --eds-color-neutral-contrast-subtle: light-dark(var(--neutral-15), var(--slategrey-15));
  --eds-color-warning-background-default: var(--orange-1);
  --eds-color-warning-background-subtle: var(--orange-2);
  --eds-color-warning-surface-default: var(--orange-3);
  --eds-color-warning-surface-hover: var(--orange-4);
  --eds-color-warning-surface-active: var(--orange-5);
  --eds-color-warning-border-subtle: var(--orange-6);
  --eds-color-warning-border-default: var(--orange-7);
  --eds-color-warning-border-strong: var(--orange-8);
  --eds-color-warning-base-default: var(--orange-9);
  --eds-color-warning-base-hover: var(--orange-10);
  --eds-color-warning-base-active: var(--orange-11);
  --eds-color-warning-text-subtle: var(--orange-12);
  --eds-color-warning-text-default: var(--orange-13);
  --eds-color-warning-contrast-default: var(--orange-14);
  --eds-color-warning-contrast-subtle: var(--orange-15);
  --eds-color-danger-background-default: var(--red-1);
  --eds-color-danger-background-subtle: var(--red-2);
  --eds-color-danger-surface-default: var(--red-3);
  --eds-color-danger-surface-hover: var(--red-4);
  --eds-color-danger-surface-active: var(--red-5);
  --eds-color-danger-border-subtle: var(--red-6);
  --eds-color-danger-border-default: var(--red-7);
  --eds-color-danger-border-strong: var(--red-8);
  --eds-color-danger-base-default: var(--red-9);
  --eds-color-danger-base-hover: var(--red-10);
  --eds-color-danger-base-active: var(--red-11);
  --eds-color-danger-text-subtle: var(--red-12);
  --eds-color-danger-text-default: var(--red-13);
  --eds-color-danger-contrast-default: var(--red-14);
  --eds-color-danger-contrast-subtle: var(--red-15);
}

