/*overview: https://codepen.io/Oddbj-rn-vernes/pen/ogvNqyb*/
@property --accent-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}
@property --neutral-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}
@property --success-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}
@property --info-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}
@property --warning-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}
@property --danger-modifier {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

:root {
  --accent-base: #007079; /*moss-green-1100*/
  --neutral-light-base: #4a4a4a; /*neutral-1200*/
  --neutral-dark-base: #435460; /*slate-grey-1100*/
  --success-base: #3fa13d; /*success-green-900*/
  --info-base: #0084c4; /*blue-sky-1000*/
  --warning-base: #e57e00; /*orange-800*/
  --danger-base: #e20337; /*red-cold-900*/

  /*calculate at what luminocity base modifier mix color switches from black to white*/
  --y1: clamp(0, (y / 0.1 - 1) * -infinity, 1);
  /*calculate on-base text color*/
  --y2: clamp(0, (y / 0.36 - 1) * -infinity, 1);

  /*x-value where chroma peaks in gaussian mode*/
  --mean: var(--user-mean, 0.6);
  /*standard deviation (width) of the bell curve in gaussian mode*/
  --stdev: var(--user-stdev, 2);

  /*lightness-values (based on designsystemet moss-green measured lightness values)*/
  --l-1: 0.997;
  --l-2: 0.965;
  --l-3: 0.910;
  --l-4: 0.857;
  --l-5: 0.804;
  --l-6: 0.788;
  --l-7: 0.584;
  --l-8: 0.482;
  --l-12: 0.390;
  --l-13: 0.237;
    /*dark mode values*/
  --ld-1: 0.218;
  --ld-2: 0.253;
  --ld-3: 0.304;
  --ld-4: 0.356;
  --ld-5: 0.407;
  --ld-6: 0.433;
  --ld-7: 0.574;
  --ld-8: 0.700;
  --ld-12: 0.821;
  --ld-13: 0.947;
  /*light relative color syntax*/
  --light-1: var(--l-1) calc(sin(var(--l-1) * pi) * c) h;
  --light-2: var(--l-2) calc(sin(var(--l-2) * pi) * c) h;
  --light-3: var(--l-3) calc(sin(var(--l-3) * pi) * c) h;
  --light-4: var(--l-4) calc(sin(var(--l-4) * pi) * c) h;
  --light-5: var(--l-5) calc(sin(var(--l-5) * pi) * c) h;
  --light-6: var(--l-6) calc(sin(var(--l-6) * pi) * c) h;
  --light-7: var(--l-7) calc(sin(var(--l-7) * pi) * c) h;
  --light-8: var(--l-8) calc(sin(var(--l-8) * pi) * c) h;
  --light-12: var(--l-12) calc(sin(var(--l-12) * pi) * c) h;
  --light-13: var(--l-13) calc(sin(var(--l-13) * pi) * c) h;

   /*dark relative color syntax*/
  --dark-1: var(--ld-1) calc(sin(var(--ld-1) * pi) * c) h;
  --dark-2: var(--ld-2) calc(sin(var(--ld-2) * pi) * c) h;
  --dark-3: var(--ld-3) calc(sin(var(--ld-3) * pi) * c) h;
  --dark-4: var(--ld-4) calc(sin(var(--ld-4) * pi) * c) h;
  --dark-5: var(--ld-5) calc(sin(var(--ld-5) * pi) * c) h;
  --dark-6: var(--ld-6) calc(sin(var(--ld-6) * pi) * c) h;
  --dark-7: var(--ld-7) calc(sin(var(--ld-7) * pi) * c) h;
  --dark-8: var(--ld-8) calc(sin(var(--ld-8) * pi) * c) h;
  --dark-9: 0.62 c h;
  --dark-12: var(--ld-12) calc(sin(var(--ld-12) * pi) * c) h;
  --dark-13: var(--ld-13) calc(sin(var(--ld-13) * pi) * c) h;

  &:has([data-lightness="radix"]) {
    /*lightness-values taken from radix measured l-values*/
    --l-1: 0.993;
    --l-2: 0.982;
    --l-3: 0.960;
    --l-4: 0.935;
    --l-5: 0.901;
    --l-6: 0.859;
    --l-7: 0.801;
    --l-8: 0.725;
    --l-12: 0.517;
    --l-13: 0.349;
    /*dark mode values*/
    --ld-1: 0.186;
    --ld-2: 0.214;
    --ld-3: 0.272;
    --ld-4: 0.322;
    --ld-5: 0.367;
    --ld-6: 0.417;
    --ld-7: 0.478;
    --ld-8: 0.554;
    --ld-12: 0.786;
    --ld-13: 0.907;
    }

  /*gaussian*/
  /*calc(pow(e, (pow(var(--l-1) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c)*/
  &:has([data-chroma-curve="gaussian"]) {
    /*light relative color syntax*/
  --light-1: var(--l-1) calc(pow(e, (pow(var(--l-1) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-2: var(--l-2) calc(pow(e, (pow(var(--l-2) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-3: var(--l-3) calc(pow(e, (pow(var(--l-3) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-4: var(--l-4) calc(pow(e, (pow(var(--l-4) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-5: var(--l-5) calc(pow(e, (pow(var(--l-5) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-6: var(--l-6) calc(pow(e, (pow(var(--l-6) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-7: var(--l-7) calc(pow(e, (pow(var(--l-7) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-8: var(--l-8) calc(pow(e, (pow(var(--l-8) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-12: var(--l-12) calc(pow(e, (pow(var(--l-12) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --light-13: var(--l-13) calc(pow(e, (pow(var(--l-13) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
   /*dark relative color syntax*/
  --dark-1: var(--ld-1) calc(pow(e, (pow(var(--ld-1) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-2: var(--ld-2) calc(pow(e, (pow(var(--ld-2) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-3: var(--ld-3) calc(pow(e, (pow(var(--ld-3) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-4: var(--ld-4) calc(pow(e, (pow(var(--ld-4) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-5: var(--ld-5) calc(pow(e, (pow(var(--ld-5) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-6: var(--ld-6) calc(pow(e, (pow(var(--ld-6) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-7: var(--ld-7) calc(pow(e, (pow(var(--ld-7) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-8: var(--ld-8) calc(pow(e, (pow(var(--ld-8) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-12: var(--ld-12) calc(pow(e, (pow(var(--ld-12) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  --dark-13: var(--ld-13) calc(pow(e, (pow(var(--ld-13) - var(--mean), 2) / var(--stdev)) * -1 * pow(5, 2)) * c) h;
  }

/*how much to darken/lighten base color for hover and active*/
  --base-hover-modifier: 15%;
  --base-active-modifier: 25%;

  --neutral-1: light-dark(oklch(from var(--neutral-light-base) var(--light-1)), oklch(from var(--neutral-dark-base) var(--dark-1)));
  --neutral-2: light-dark(oklch(from var(--neutral-light-base) var(--light-2)), oklch(from var(--neutral-dark-base) var(--dark-2)));
  --neutral-3: light-dark(oklch(from var(--neutral-light-base) var(--light-3)), oklch(from var(--neutral-dark-base) var(--dark-3)));
  --neutral-4: light-dark(oklch(from var(--neutral-light-base) var(--light-4)), oklch(from var(--neutral-dark-base) var(--dark-4)));
  --neutral-5: light-dark(oklch(from var(--neutral-light-base) var(--light-5)), oklch(from var(--neutral-dark-base) var(--dark-5)));
  --neutral-6: light-dark(oklch(from var(--neutral-light-base) var(--light-6)), oklch(from var(--neutral-dark-base) var(--dark-6)));
  --neutral-7: light-dark(oklch(from var(--neutral-light-base) var(--light-7)), oklch(from var(--neutral-dark-base) var(--dark-7)));
  --neutral-8: light-dark(oklch(from var(--neutral-light-base) var(--light-8)), oklch(from var(--neutral-dark-base) var(--dark-8)));
  --neutral-9: light-dark(var(--neutral-light-base), oklch(from var(--neutral-dark-base) var(--dark-9)));
  --neutral-modifier: color(from var(--neutral-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --neutral-10: color-mix(in oklab, var(--neutral-9), var(--neutral-modifier) var(--base-hover-modifier));
  --neutral-11: color-mix(in oklab, var(--neutral-9), var(--neutral-modifier) var(--base-active-modifier));
  --neutral-12: light-dark(oklch(from var(--neutral-light-base) var(--light-12)), oklch(from var(--neutral-dark-base) var(--dark-12)));
  --neutral-13: light-dark(oklch(from var(--neutral-light-base) var(--light-13)), oklch(from var(--neutral-dark-base) var(--dark-13)));
  --neutral-14: color(from var(--neutral-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --accent-1: light-dark(oklch(from var(--accent-base) var(--light-1)), oklch(from var(--accent-base) var(--dark-1)));
  --accent-2: light-dark(oklch(from var(--accent-base) var(--light-2)), oklch(from var(--accent-base) var(--dark-2)));
  --accent-3: light-dark(oklch(from var(--accent-base) var(--light-3)), oklch(from var(--accent-base) var(--dark-3)));
  --accent-4: light-dark(oklch(from var(--accent-base) var(--light-4)), oklch(from var(--accent-base) var(--dark-4)));
  --accent-5: light-dark(oklch(from var(--accent-base) var(--light-5)), oklch(from var(--accent-base) var(--dark-5)));
  --accent-6: light-dark(oklch(from var(--accent-base) var(--light-6)), oklch(from var(--accent-base) var(--dark-6)));
  --accent-7: light-dark(oklch(from var(--accent-base) var(--light-7)), oklch(from var(--accent-base) var(--dark-7)));
  --accent-8: light-dark(oklch(from var(--accent-base) var(--light-8)), oklch(from var(--accent-base) var(--dark-8)));
  --accent-9: light-dark(var(--accent-base), oklch(from var(--accent-base) var(--dark-9)));
  --accent-modifier: color(from var(--accent-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --accent-10: color-mix(in oklab, var(--accent-9), var(--accent-modifier) var(--base-hover-modifier));
  --accent-11: color-mix(in oklab, var(--accent-9), var(--accent-modifier) var(--base-active-modifier));
  --accent-12: light-dark(oklch(from var(--accent-base) var(--light-12)), oklch(from var(--accent-base) var(--dark-12)));
  --accent-13: light-dark(oklch(from var(--accent-base) var(--light-13)), oklch(from var(--accent-base) var(--dark-13)));
  --accent-14: color(from var(--accent-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --success-1: light-dark(oklch(from var(--success-base) var(--light-1)), oklch(from var(--success-base) var(--dark-1)));
  --success-2: light-dark(oklch(from var(--success-base) var(--light-2)), oklch(from var(--success-base) var(--dark-2)));
  --success-3: light-dark(oklch(from var(--success-base) var(--light-3)), oklch(from var(--success-base) var(--dark-3)));
  --success-4: light-dark(oklch(from var(--success-base) var(--light-4)), oklch(from var(--success-base) var(--dark-4)));
  --success-5: light-dark(oklch(from var(--success-base) var(--light-5)), oklch(from var(--success-base) var(--dark-5)));
  --success-6: light-dark(oklch(from var(--success-base) var(--light-6)), oklch(from var(--success-base) var(--dark-6)));
  --success-7: light-dark(oklch(from var(--success-base) var(--light-7)), oklch(from var(--success-base) var(--dark-7)));
  --success-8: light-dark(oklch(from var(--success-base) var(--light-8)), oklch(from var(--success-base) var(--dark-8)));
  --success-9: light-dark(var(--success-base), oklch(from var(--success-base) var(--dark-9)));
  --success-modifier: color(from var(--success-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --success-10: color-mix(in oklab, var(--success-9), var(--success-modifier) var(--base-hover-modifier));
  --success-11: color-mix(in oklab, var(--success-9), var(--success-modifier) var(--base-active-modifier));
  --success-12: light-dark(oklch(from var(--success-base) var(--light-12)), oklch(from var(--success-base) var(--dark-12)));
  --success-13: light-dark(oklch(from var(--success-base) var(--light-13)), oklch(from var(--success-base) var(--dark-13)));
  --success-14: color(from var(--success-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --info-1: light-dark(oklch(from var(--info-base) var(--light-1)), oklch(from var(--info-base) var(--dark-1)));
  --info-2: light-dark(oklch(from var(--info-base) var(--light-2)), oklch(from var(--info-base) var(--dark-2)));
  --info-3: light-dark(oklch(from var(--info-base) var(--light-3)), oklch(from var(--info-base) var(--dark-3)));
  --info-4: light-dark(oklch(from var(--info-base) var(--light-4)), oklch(from var(--info-base) var(--dark-4)));
  --info-5: light-dark(oklch(from var(--info-base) var(--light-5)), oklch(from var(--info-base) var(--dark-5)));
  --info-6: light-dark(oklch(from var(--info-base) var(--light-6)), oklch(from var(--info-base) var(--dark-6)));
  --info-7: light-dark(oklch(from var(--info-base) var(--light-7)), oklch(from var(--info-base) var(--dark-7)));
  --info-8: light-dark(oklch(from var(--info-base) var(--light-8)), oklch(from var(--info-base) var(--dark-8)));
  --info-9: light-dark(var(--info-base), oklch(from var(--info-base) var(--dark-9)));
  --info-modifier: color(from var(--info-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --info-10: color-mix(in oklab, var(--info-9), var(--info-modifier) var(--base-hover-modifier));
  --info-11: color-mix(in oklab, var(--info-9), var(--info-modifier) var(--base-active-modifier));
  --info-12: light-dark(oklch(from var(--info-base) var(--light-12)), oklch(from var(--info-base) var(--dark-12)));
  --info-13: light-dark(oklch(from var(--info-base) var(--light-13)), oklch(from var(--info-base) var(--dark-13)));
  --info-14: color(from var(--info-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --warning-1: light-dark(oklch(from var(--warning-base) var(--light-1)), oklch(from var(--warning-base) var(--dark-1)));
  --warning-2: light-dark(oklch(from var(--warning-base) var(--light-2)), oklch(from var(--warning-base) var(--dark-2)));
  --warning-3: light-dark(oklch(from var(--warning-base) var(--light-3)), oklch(from var(--warning-base) var(--dark-3)));
  --warning-4: light-dark(oklch(from var(--warning-base) var(--light-4)), oklch(from var(--warning-base) var(--dark-4)));
  --warning-5: light-dark(oklch(from var(--warning-base) var(--light-5)), oklch(from var(--warning-base) var(--dark-5)));
  --warning-6: light-dark(oklch(from var(--warning-base) var(--light-6)), oklch(from var(--warning-base) var(--dark-6)));
  --warning-7: light-dark(oklch(from var(--warning-base) var(--light-7)), oklch(from var(--warning-base) var(--dark-7)));
  --warning-8: light-dark(oklch(from var(--warning-base) var(--light-8)), oklch(from var(--warning-base) var(--dark-8)));
  --warning-9: light-dark(var(--warning-base), oklch(from var(--warning-base) var(--dark-9)));
  --warning-modifier: color(from var(--warning-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --warning-10: color-mix(in oklab, var(--warning-9), var(--warning-modifier) var(--base-hover-modifier));
  --warning-11: color-mix(in oklab, var(--warning-9), var(--warning-modifier) var(--base-active-modifier));
  --warning-12: light-dark(oklch(from var(--warning-base) var(--light-12)), oklch(from var(--warning-base) var(--dark-12)));
  --warning-13: light-dark(oklch(from var(--warning-base) var(--light-13)), oklch(from var(--warning-base) var(--dark-13)));
  --warning-14: color(from var(--warning-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --danger-1: light-dark(oklch(from var(--danger-base) var(--light-1)), oklch(from var(--danger-base) var(--dark-1)));
  --danger-2: light-dark(oklch(from var(--danger-base) var(--light-2)), oklch(from var(--danger-base) var(--dark-2)));
  --danger-3: light-dark(oklch(from var(--danger-base) var(--light-3)), oklch(from var(--danger-base) var(--dark-3)));
  --danger-4: light-dark(oklch(from var(--danger-base) var(--light-4)), oklch(from var(--danger-base) var(--dark-4)));
  --danger-5: light-dark(oklch(from var(--danger-base) var(--light-5)), oklch(from var(--danger-base) var(--dark-5)));
  --danger-6: light-dark(oklch(from var(--danger-base) var(--light-6)), oklch(from var(--danger-base) var(--dark-6)));
  --danger-7: light-dark(oklch(from var(--danger-base) var(--light-7)), oklch(from var(--danger-base) var(--dark-7)));
  --danger-8: light-dark(oklch(from var(--danger-base) var(--light-8)), oklch(from var(--danger-base) var(--dark-8)));
  --danger-9: light-dark(var(--danger-base), oklch(from var(--danger-base) var(--dark-9)));
  --danger-modifier: color(from var(--danger-9) xyz-d65 var(--y1) var(--y1) var(--y1));
  --danger-10: color-mix(in oklab, var(--danger-9), var(--danger-modifier) var(--base-hover-modifier));
  --danger-11: color-mix(in oklab, var(--danger-9), var(--danger-modifier) var(--base-active-modifier));
  --danger-12: light-dark(oklch(from var(--danger-base) var(--light-12)), oklch(from var(--danger-base) var(--dark-12)));
  --danger-13: light-dark(oklch(from var(--danger-base) var(--light-13)), oklch(from var(--danger-base) var(--dark-13)));
  --danger-14: color(from var(--danger-9) xyz-d65 var(--y2) var(--y2) var(--y2));

  --eds-color-accent-background-default: var(--accent-1);
  --eds-color-accent-background-subtle: var(--accent-2);
  --eds-color-accent-surface-default: var(--accent-3);
  --eds-color-accent-surface-hover: var(--accent-4);
  --eds-color-accent-surface-active: var(--accent-5);
  --eds-color-accent-border-subtle: var(--accent-6);
  --eds-color-accent-border-default: var(--accent-7);
  --eds-color-accent-border-strong: var(--accent-8);
  --eds-color-accent-base-default: var(--accent-9);
  --eds-color-accent-base-hover: var(--accent-10);
  --eds-color-accent-base-active: var(--accent-11);
  --eds-color-accent-text-subtle: var(--accent-12);
  --eds-color-accent-text-default: var(--accent-13);
  --eds-color-accent-contrast-default: var(--accent-14);

  --eds-color-neutral-background-default: var(--neutral-1);
  --eds-color-neutral-background-subtle: var(--neutral-2);
  --eds-color-neutral-surface-default: var(--neutral-3);
  --eds-color-neutral-surface-hover: var(--neutral-4);
  --eds-color-neutral-surface-active: var(--neutral-5);
  --eds-color-neutral-border-subtle: var(--neutral-6);
  --eds-color-neutral-border-default: var(--neutral-7);
  --eds-color-neutral-border-strong: var(--neutral-8);
  --eds-color-neutral-base-default: var(--neutral-9);
  --eds-color-neutral-base-hover: var(--neutral-10);
  --eds-color-neutral-base-active: var(--neutral-11);
  --eds-color-neutral-text-subtle: var(--neutral-12);
  --eds-color-neutral-text-default: var(--neutral-13);
  --eds-color-neutral-contrast-default: var(--neutral-14);

  --eds-color-success-background-default: var(--success-1);
  --eds-color-success-background-subtle: var(--success-2);
  --eds-color-success-surface-default: var(--success-3);
  --eds-color-success-surface-hover: var(--success-4);
  --eds-color-success-surface-active: var(--success-5);
  --eds-color-success-border-subtle: var(--success-6);
  --eds-color-success-border-default: var(--success-7);
  --eds-color-success-border-strong: var(--success-8);
  --eds-color-success-base-default: var(--success-9);
  --eds-color-success-base-hover: var(--success-10);
  --eds-color-success-base-active: var(--success-11);
  --eds-color-success-text-subtle: var(--success-12);
  --eds-color-success-text-default: var(--success-13);
  --eds-color-success-contrast-default: var(--success-14);

  --eds-color-info-background-default: var(--info-1);
  --eds-color-info-background-subtle: var(--info-2);
  --eds-color-info-surface-default: var(--info-3);
  --eds-color-info-surface-hover: var(--info-4);
  --eds-color-info-surface-active: var(--info-5);
  --eds-color-info-border-subtle: var(--info-6);
  --eds-color-info-border-default: var(--info-7);
  --eds-color-info-border-strong: var(--info-8);
  --eds-color-info-base-default: var(--info-9);
  --eds-color-info-base-hover: var(--info-10);
  --eds-color-info-base-active: var(--info-11);
  --eds-color-info-text-subtle: var(--info-12);
  --eds-color-info-text-default: var(--info-13);
  --eds-color-info-contrast-default: var(--info-14);

  --eds-color-warning-background-default: var(--warning-1);
  --eds-color-warning-background-subtle: var(--warning-2);
  --eds-color-warning-surface-default: var(--warning-3);
  --eds-color-warning-surface-hover: var(--warning-4);
  --eds-color-warning-surface-active: var(--warning-5);
  --eds-color-warning-border-subtle: var(--warning-6);
  --eds-color-warning-border-default: var(--warning-7);
  --eds-color-warning-border-strong: var(--warning-8);
  --eds-color-warning-base-default: var(--warning-9);
  --eds-color-warning-base-hover: var(--warning-10);
  --eds-color-warning-base-active: var(--warning-11);
  --eds-color-warning-text-subtle: var(--warning-12);
  --eds-color-warning-text-default: var(--warning-13);
  --eds-color-warning-contrast-default: var(--warning-14);

  --eds-color-danger-background-default: var(--danger-1);
  --eds-color-danger-background-subtle: var(--danger-2);
  --eds-color-danger-surface-default: var(--danger-3);
  --eds-color-danger-surface-hover: var(--danger-4);
  --eds-color-danger-surface-active: var(--danger-5);
  --eds-color-danger-border-subtle: var(--danger-6);
  --eds-color-danger-border-default: var(--danger-7);
  --eds-color-danger-border-strong: var(--danger-8);
  --eds-color-danger-base-default: var(--danger-9);
  --eds-color-danger-base-hover: var(--danger-10);
  --eds-color-danger-base-active: var(--danger-11);
  --eds-color-danger-text-subtle: var(--danger-12);
  --eds-color-danger-text-default: var(--danger-13);
  --eds-color-danger-contrast-default: var(--danger-14);
}
/* Test of cyclical space toggle for color. By adding data-color attribute (with no value) to an element,
 * <div className='cyclic-color-test' data-color></div>
 * it is now activated and which colors will be used in the variables below can now be set by setting
 * .cyclic-color-test {
 *  --color: var(--accent);
    background-color: var(--eds-color-background-subtle);
    color: var(--eds-color-text-subtle);
 * }
 *
 * of course the data-color could be replaced with a class instead that would then be needed to be used to activate.
 * MAJOR LIMITATION: --color does not inherit into nested elements with their own [data-color] attr which resets to --color: var(--neutral).
 * This could also be seen as a strength (hey free scoping) depending on how it is intended to be used.
 */
:root, [data-color] {
  --color: var(--neutral);
  --accent: var(--color, );
  --success: var(--color, );
  --info: var(--color, );
  --warning: var(--color, );
  --danger: var(--color, );
  --neutral: var(--color, );

  --eds-color-background-default: var(--neutral, var(--neutral-1)) var(--accent, var(--accent-1)) var(--success, var(--success-1)) var(--info, var(--info-1)) var(--warning, var(--warning-1)) var(--danger, var(--danger-1));
  --eds-color-background-subtle: var(--neutral, var(--neutral-2)) var(--accent, var(--accent-2)) var(--success, var(--success-2)) var(--info, var(--info-2)) var(--warning, var(--warning-2)) var(--danger, var(--danger-2));
  --eds-color-surface-default: var(--neutral, var(--neutral-3)) var(--accent, var(--accent-3)) var(--success, var(--success-3)) var(--info, var(--info-3)) var(--warning, var(--warning-3)) var(--danger, var(--danger-3));
  --eds-color-surface-hover: var(--neutral, var(--neutral-4)) var(--accent, var(--accent-4)) var(--success, var(--success-4)) var(--info, var(--info-4)) var(--warning, var(--warning-4)) var(--danger, var(--danger-4));
  --eds-color-surface-active: var(--neutral, var(--neutral-5)) var(--accent, var(--accent-5)) var(--success, var(--success-5)) var(--info, var(--info-5)) var(--warning, var(--warning-5)) var(--danger, var(--danger-5));
  --eds-color-border-subtle: var(--neutral, var(--neutral-6)) var(--accent, var(--accent-6)) var(--success, var(--success-6)) var(--info, var(--info-6)) var(--warning, var(--warning-6)) var(--danger, var(--danger-6));
  --eds-color-border-default: var(--neutral, var(--neutral-7)) var(--accent, var(--accent-7)) var(--success, var(--success-7)) var(--info, var(--info-7)) var(--warning, var(--warning-7)) var(--danger, var(--danger-7));
  --eds-color-border-strong: var(--neutral, var(--neutral-8)) var(--accent, var(--accent-8)) var(--success, var(--success-8)) var(--info, var(--info-8)) var(--warning, var(--warning-8)) var(--danger, var(--danger-8));
  --eds-color-base-default: var(--neutral, var(--neutral-9)) var(--accent, var(--accent-9)) var(--success, var(--success-9)) var(--info, var(--info-9)) var(--warning, var(--warning-9)) var(--danger, var(--danger-9));
  --eds-color-base-hover: var(--neutral, var(--neutral-10)) var(--accent, var(--accent-10)) var(--success, var(--success-10)) var(--info, var(--info-10)) var(--warning, var(--warning-10)) var(--danger, var(--danger-10));
  --eds-color-base-active: var(--neutral, var(--neutral-11)) var(--accent, var(--accent-11)) var(--success, var(--success-11)) var(--info, var(--info-11)) var(--warning, var(--warning-11)) var(--danger, var(--danger-11));
  --eds-color-text-subtle: var(--neutral, var(--neutral-12)) var(--accent, var(--accent-12)) var(--success, var(--success-12)) var(--info, var(--info-12)) var(--warning, var(--warning-12)) var(--danger, var(--danger-12));
  --eds-color-text-default: var(--neutral, var(--neutral-13)) var(--accent, var(--accent-13)) var(--success, var(--success-13)) var(--info, var(--info-13)) var(--warning, var(--warning-13)) var(--danger, var(--danger-13));
  --eds-color-contrast-default: var(--neutral, var(--neutral-14)) var(--accent, var(--accent-14)) var(--success, var(--success-14)) var(--info, var(--info-14)) var(--warning, var(--warning-14)) var(--danger, var(--danger-14));
}
/*additionally, one can also make convenience selectors like this or utility classes (but you still need the data-color attribute to activate)*/
[data-color="accent"] {
  --color: var(--accent);
}
[data-color="neutral"] {
  --color: var(--neutral);
}
[data-color="info"] {
  --color: var(--info);
}
[data-color="success"] {
  --color: var(--success);
}
[data-color="warning"] {
  --color: var(--warning);
}
[data-color="danger"] {
  --color: var(--danger);
}

