@layer eds.sidebar {
  .eds-sidebar {
    box-sizing: content-box;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'content'
      'footer';
    background-color: light-dark(white, var(--eds-color-neutral-background-subtle));
    overflow: auto;
    width: 64px;
    border-right: 2px solid var(--eds-color-neutral-border-subtle);
  }

  .eds-sidebar__main {
    grid-area: content;
  }

  .eds-sidebar__footer {
    grid-area: footer;
  }

  .eds-sidebar__link {
    display: block;
    border-bottom: 2px solid var(--eds-color-neutral-border-subtle);
    min-height: 56px;
    display: grid;
    place-items: center;
    fill: var(--eds-color-neutral-text-default);
    &:where(:hover, :focus) {
      background-color: var(--eds-color-neutral-surface-hover);
    }
  }

  .eds-sidebar__toggle {
    margin-inline: auto;
    display: grid;
    min-height: 56px;
    place-items: center;
    width: 100%;
    border: 0;
    background-color: light-dark(white, var(--eds-color-neutral-background-subtle));
    cursor: pointer;
    fill: var(--eds-color-neutral-text-default);
  }
  [data-color-background="bente"] {
    .eds-sidebar {
      background-color: var(--eds-ui-shell-color-surface);
      border-right: 2px solid var(--eds-ui-shell-color-border);
    }
    .eds-sidebar__toggle {
      background-color: var(--eds-ui-shell-color-surface);
    }
  }
}
