@layer eds.button {
  .eds-button {
    color: canvasText;
    background-color: canvas;
    border: 2px solid canvasText;
    display: grid;
    gap: var(--eds-spacing-inline-sm);
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    padding-block: var(--eds-spacing-inset-md-stack-squished);
    padding-inline: var(--eds-spacing-inset-md-inline);
    /*target only icon left of text*/
/*     >svg:first-child:not(:last-child) {
      fill: red;
      margin-left: -0.20em;
    } */
    /*target only icon right of text*/
/*     > svg:not(:first-child):last-of-type {
      fill: green;
      margin-right: -0.20em;
    } */
    /*Alternative. subtrackt both sides for optical gap of 8px*/
    > svg {
      fill: canvasText;
      margin-inline: -0.20em;
       /*todo: take text-height into account so icon can be standalone*/
      margin-block: -0.5em;
    }
    >svg:only-child {
      fill: purple;
    }
    &:has(svg:only-child) {
      background-color: pink;
    }
    /*contains svg and other things*/
/*     &:has(svg:not(:only-child)) svg {
      margin-block: -0.5em;
    } */
  }
}
